@import "tailwindcss";

@theme {
  --color-primary: #009B8D;
  /* Teal (Icon) */
  --color-secondary: #0D3B4F;
  /* Navy (Text) */
  --color-accent: #E0F2F1;
  /* Light Teal */

  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;

  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-slide-up: slide-up 0.5s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-slate-900;
  }
}